h1
{
    font-family: 'Shadows Into Light', cursive;
}
h5
{
    font-family: 'Shadows Into Light', cursive;
}



#titulo
{
    font-family: 'Shadows Into Light', cursive;
}
#palabras 
{
    padding: 240;
}